.header {
  padding: 1vw 10vw;
  display: flex;
  justify-content: space-between;
  background: #1e1e1e;
  color: #fff;

  .header-left {
    .title-logo {
      p {
        height: 100%;
        font-family: $title-font;
        letter-spacing: 0.1vw;
        font-size: 2.5vh;

        &.title-logo-subject {
          background: #fff;
          color: #000;
          border-radius: 40%;
          font-size: 1.3vh;
          letter-spacing: 0.15vw;
          float: left;
          padding: 0.3vh 0.5vw;
        }

        &.title-logo-noun {
          margin-left: 1vw;
        }
      }
    }
  }

  .header-right {
    .switch-language {
      .language-toggle {
        width: 9vw;
        padding-right: 0.5em;
        background: #fff;
        color: #000;

        &::after {
          display: inline-block;
          margin-left: 0.255em;
          vertical-align: 0.255em;
          content: "";
          border-top: 0.3em solid;
          border-right: 0.3em solid transparent;
          border-bottom: 0;
          border-left: 0.3em solid transparent;
        }
      }

      .language-list {
        font-size: 1rem;
        color: #212529;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
        z-index: 1000;
        position: absolute;

        .language-item {
          width: 8.5vw;
          display: block;
          padding: 0.25rem 1rem;
          clear: both;
          font-weight: 400;
          text-align: center;
          white-space: nowrap;
          border-radius: 0.25rem;
          -moz-transition: background-color 0.25s ease-out;
          -o-transition: background-color 0.25s ease-out;
          -webkit-transition: background-color 0.25s ease-out;
          -ms-transition: background-color 0.25s ease-out;

          &:hover {
            background-color: #f0f0f0;
          }

          a,
          a:visited {
            color: #000;
            text-decoration: none;
          }
        }
      }

      /* translate fade (top to down) */
      .translate-fade-down-enter-active,
      .translate-fade-down-leave-active {
        transition: all 500ms;
        transition-timing-function: cubic-bezier(0.53, 2, 0.36, 0.85);
      }

      .translate-fade-down-enter,
      .translate-fade-down-leave-active {
        opacity: 0;
      }

      .translate-fade-down-enter,
      .translate-fade-down-leave-to {
        position: absolute;
      }

      .translate-fade-down-enter {
        transform: translateY(-10px);
      }

      .translate-fade-down-leave-active {
        transform: translateY(10px);
      }
    }
  }
}
